
@{
    ViewBag.Title = "Mvc Controller dan View a veri gönderme";
}

<h2>Mvc Controller dan View a veri gönderme</h2>

<div>
    Ürün Kategorisi : @ViewBag.KategoriAdi
    <hr />
    Ürün Adı : @ViewData["UrunAdi"]
    <hr />
    Ürün Fiyatı : @TempData["UrunFiyati"]
    <hr />
    
</div>