@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Appsettins Dosyasından Veri Okuma</h3>

<h5>
    Email : @TempData["Email"]
</h5>

<h5>
    Mail Sunucu : @TempData["MailSunucu"]
</h5>

<h5>
  Mail Kullanıcı Adı :  @TempData["UserName"]
</h5>

<h5>
    Mail Şifre : @TempData["Password"]
</h5>