@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Cookie deki Bilgi</h4>

<h5>Kullanıcı Adı : @TempData["kullanici"]</h5>

<h5>Parola : @TempData["parola"]</h5>

<a asp-action="CookieSil" class="btn btn-danger">Cookie Sil</a>